@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.text-size-14 {
    font-size: 14px;
}

.shortify-logo {
    font-family: 'Fredoka One';
    font-size: 42px;
    font-weight: normal;
    
}

.shortify-logo:hover {
    text-decoration: none;
}


.nav-item:hover {
	text-decoration: none;
}
 
