{% extends "template/template.html" %}

{% block title %}{% endblock %}

{% block content %}
<!-- Информация о том что ссылка создана -->
<div id="successCreated" class="d-none">
    <div class="alert alert-success alert-dismissible small fade show mb-2" role="alert">
        <strong>Успешно!</strong> Короткая ссылка успешно создана
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <input id="shortUrl" class="form-control mb-2" type="text" name="" value="" readonly>

    <div class="mb-4">
        <button class="btn btn-success" type="button" name="button" onclick="copyToClipboard()"><i class="fas fa-copy"></i> Скопировать</button>
        <a class="btn btn-primary" href="/">Создать ещё</a>
    </div>

</div>
<!-- Конец Информация о том что ссылка создана -->

<div id="errorCreated" class="alert alert-danger alert-dismissible small fade show d-none" role="alert"></div>

<!-- Блок с ошибкой при создании ссылки -->
{% if error == true %}
<div class="alert alert-danger alert-dismissible small fade show" role="alert">
    <strong>{{ caption }}</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<!-- Конец Блок с ошибкой при создании ссылки -->

<div id="main" class="">
    <!-- Полная ссылка, кнопка -->
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-10">
            <input id="fullUrl" type="text" class="form-control " placeholder="https://example.com" aria-describedby="addon-wrapping">
        </div>

        <div class="col-md col col-lg-2 mt-sm-2 mt-lg-0 mt-2 ">
            <button id="createShortUrl" class="btn btn-primary w-100" type="button" name="button">Создать</button>
        </div>
    </div>
    <!-- Конец Полная ссылка, кнопка -->

    <!-- Дополнительные параметры -->
    <div class="row">
        <div class="col-auto">
            <label class="mb-0 mt-2 text-muted text-size-14" for="">Оставьте поле пустым, имя будет сгенирировано автоматически</label>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-link"></i></span>
                </div>
                <input id="code" type="text" class="form-control form-control-sm" placeholder="Короткое имя ссылки" aria-describedby="addon-wrapping">
            </div>
        </div>

        <div class="col-auto">
            <label class="mb-0 mt-2 text-muted text-size-14" for="">Срок действия ссылки</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"><i class="far fa-calendar-alt"></i></label>
                </div>
                <select id="expire" class="form-control form-control-sm">
                    <option value="1">1 минута</option>
                    <option value="2">5 минут</option>
                    <option value="3">30 минут</option>
                    <option value="4">1 час</option>
                    <option value="5" selected>День</option>
                    <option value="6">Неделя</option>
                    <option value="7">Месяц</option>
                    <option value="0">Бесконечно</option>
                </select>
            </div>
        </div>
    </div>
    <!-- Конец Дополнительные параметры -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#createShortUrl").click(function() {
            var data = {};
                data.fullUrl = $("#fullUrl").val().trim();
                data.code = $("#code").val().trim();
                data.expire = $("#expire option:selected").val();

            $.ajax({
                type: 'POST',
                url: '/api/createShortUrl',
                data: JSON.stringify(data),
                success: function(data) {
                    console.log(data);
                    if (data.error) {
                        $("#errorCreated").text(data.message);
                        $("#errorCreated").removeClass('d-none');
                    } else {
                        $("#shortUrl").val(data.shortUrl);
                        $("#main").hide();
                        $("#errorCreated").hide();
                        $("#successCreated").removeClass();
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });
    });

    function copyToClipboard() {
        document.querySelector("#shortUrl").select();
        document.execCommand("copy");
    }
</script>
{% endblock %}
